* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}


.logo {
    background-color: transparent;
    cursor: pointer;
    width: 18%;
    padding: 1%;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    padding: 9px 25px;
    color: whitesmoke;
    background-color: rgb(116, 118, 119, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(116,118,119, .5);
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
}

img {
    max-width: 20%;
}

.heroIMG {
    display: flex;
    color: whitesmoke;
    justify-content:center;
    align-items: center;
    padding: 50px 50px 300px 50px;
}

p {
    padding: 40px;
}




/* nav {
    width: 73%;
    padding: 1%;
} */

/* ul {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: auto;
} */

/* .heroIMG { */
    /* height: auto; */
    /* padding: 25px; */
    /* width: 300px; */
    /* max-width: 100%;
    height: auto;
} */
/* 
img {
    /* /* width: 300px; */
    /* max-width: 100%; */
    /* height: auto; */
/* }
/* 
footer {
    background-color: #373738;
    padding: 25px;
} */

/* ul {
    display: inline-block;
    vertical-align: top;
} */